<div class="lg:w-3/12 mt-28 p-10 shadow-lg mx-auto">
    <h3 class="text-3xl text-center font-semibold py-5">Elfelejtetted a jelszavadat?</h3>
    <form [formGroup]="forgetForm" class="flex flex-col">
        <span class="mb-2">Adja meg az Email címét és elküldjük önnek, hogyan tudja megváltoztatni a jelszavát.
        </span>
        <div class="flex flex-col mt-4 mb-1">
            <input formControlName="email" class="p-1.5 border border-gray-400 rounded" type="text" placeholder="Email">
            <span *ngIf="forgetForm.hasError('required','email') && forgetForm.controls['email'].dirty" 
                class="text-red-600">*Email cím megadása kötelező</span>
            <span *ngIf="forgetForm.hasError('email','email') && forgetForm.controls['email'].dirty" 
                class="text-red-600">*Érvénytelen Email cím</span>
        </div>
        <div class="mt-2">
            <button (click)="submit()" [disabled]="forgetForm.invalid" [class.disabled]="forgetForm.invalid" 
                class="bg-indigo-800 p-1.5 rounded mt-3 text-white">Bejelentkezés</button>
        </div>
    </form>
</div>
